<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Athlete Profile</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/athletes-profile.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="header">
    {{> navbar}}
  </div>
  <main>
    <div class="athlete-header">
      <img src="{{athlete.portrait}}" alt="Athlete Picture" class="athlete-pic">
      <div class="athlete-info">
        <h1>{{athlete.name}}</h1>
        <p class="team">{{athlete.beltlevel}} since {{formatDate athlete.lastpromo "MM-DD-YYYY"}} ({{yearsSince athlete.lastpromo}} years)</p>
        <p>{{athlete.agedivision}}</p>
        <p>{{athlete.clubregion}}</p>
        <div class="invite-button">
          {{!-- <a action="invite-player">+ Invite this player to your club</a> --}}
        </div>
      </div>
      <div class="athlete-stats">
        <div class="stat">
          <span class="label">Games Played</span>
          <span>{{athlete.gp}}</span>
        </div>
        <div class="stat">
          <span class="label">Kyorugi Golds</span>
          <span class="kyorugigolds"></span>
        </div>
        <div class="stat">
          <span class="label">Poomsae Golds</span>
          <span class="poomgolds"></span>
        </div>
      </div>
    </div>
    <div class="athlete-details">
      <div class="previous-game">
        <h2>Competition History</h2>
        <table class="career-stats">
          <thead>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Type</th>
              <th>Location</th>
              <th>Division</th>
              <th>Ranking</th>
              <th>Final Score</th>
              <th>Disqualified Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each matchDataWithEventDetails}}
            <tr>
              <td>{{formatCreatedAt created_at}}</td>
              <td>{{eventName}}</td>
              <td>{{eventType}}</td>
              <td>{{eventLocation}}</td>
              <td>{{ageDivision}}</td>
              <td>
                {{#if (eq poomsaefinalscore -1)}}
                  DQ
                {{else}}
                  {{#if (eq ranking -1)}}DQ{{else}}{{#unless (eq ranking 0)}}{{ordinal ranking}}{{else}}P{{/unless}}{{/if}}
                {{/if}}
              </td>
              <td>{{#if (eq poomsaefinalscore -1)}} DQ  
              <button class="dqreasonbtn" id="dqreasonbtn-{{id}}">? </button>
                <div>
                  <p class="dqreason" id="dqreason-{{id}}" style="display:none">Reason for disqualification: <strong>{{dqreason}}</strong></p>
                </div>
              
              <script>
                document.querySelectorAll('.dqreasonbtn').forEach(button => {
                  button.addEventListener('click', function() {
                    const id = this.id.split('-')[1];
                    const dqReasonDiv = document.getElementById(`dqreason-${id}`);
                    dqReasonDiv.style.display = dqReasonDiv.style.display === 'none' ? 'block' : 'none';
                  });
                });
              </script>
              {{else}} {{poomsaefinalscore}} {{/if}}</td>
              <td>{{dq}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </main>

  {{> footer}}

  <!-- Scripts -->
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/footer.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      if (document.querySelectorAll('.notification').length > 0) {
        let nonotifs = document.querySelectorAll('.no-notifs');
        nonotifs.forEach(function (element) {
          element.style.display = 'none';
        });
      }
    });

    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img') && !event.target.matches('.profile-picture')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      const rows = document.querySelectorAll('.career-stats tbody tr');
      let count = 0;
      rows.forEach(row => {
      const rankingCell = row.querySelector('td:nth-child(6)');
      const typeCell = row.querySelector('td:nth-child(3)');
      if (rankingCell && rankingCell.textContent.trim() === '1st' && typeCell && typeCell.textContent.trim() === 'Kyorugi') {
        count++;
      }
      });
      document.querySelector('.kyorugigolds').textContent = count;
      console.log(`Number of rows where ranking is '1' and type is 'Kyorugi': ${count}`);
    });

    document.addEventListener("DOMContentLoaded", function () {
      const rows = document.querySelectorAll('.career-stats tbody tr');
      let count = 0;
      rows.forEach(row => {
      const rankingCell = row.querySelector('td:nth-child(6)');
      const typeCell = row.querySelector('td:nth-child(3)');
      if (rankingCell && rankingCell.textContent.trim() === '1st' && typeCell && typeCell.textContent.trim() === 'Poomsae') {
        count++;
      }
      });
      document.querySelector('.poomgolds').textContent = count;
      console.log(`Number of rows where ranking is '1' and type is 'Poomsae': ${count}`);
    });
  </script>
</body>
</html>

