<html>

<head>
  <title>PTA | Club Application Review</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/clubreg-review.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
</head>

<body style="margin:0;" class="container">
  <div class="membership-header">
    <div class="membership-navbar">
      <img src="/images/logo.png" class="membership-logo" href="home"></img>
      {{#if user.profilepic}}
      <a href="#" onclick="toggleDropdown()" class="memprofile-pic"><img src="{{user.profilepic}}" alt="Profile Picture"
          class="profile-picture"></a>
      {{else}}
      <a href="#" onclick="toggleDropdown()" class="memprofile-pic">
        <p>:(</p>
      </a>
      {{/if}}
      <div id="dropdown" class="dropdown-content">
        <a href="profile">Profile</a>
        <a href="settings">Settings</a>
        <a href="/">Logout</a>
      </div>
    </div>
  </div>
  <div class="membership-container">
    <div class="review-header">
      <h1>Review Club Application</h1>
    </div>

    <form action={{#if user.ptaverified}}"/reject-club-fields" {{else}} "/submit-club" enctype="multipart/form-data"
      {{/if}} method="post" >
      <input type="hidden" name="clubregid" value="{{clubregistration.id}}">
      <div class="review-details">
        <h2>Club Application Information</h2>
        <table class="details-section">
          <tr>
            <td colspan="2">
              {{#if clubregistration.clubpic}}
                <img class="clubpic" src="{{clubregistration.clubpic}}">
                <input type="hidden" name="clubpic" value="{{clubregistration.clubpic}}" {{#if (or user.ptaverified
                clubregistration.clubpic)}}readonly{{else}}required{{/if}}>
                {{#if user.ptaverified}}<button type="button" class="clear-input"
                  onclick="clearInput(this)">x</button>{{/if}}
              {{else}}
                <h2>no picture</h2>
                {{#unless user.ptaverified}}<input type="file" name="clubpic" required>{{/unless}}
              {{/if}}
            </td>
            <td>
              <table>
                <tr>
                  <td><strong>Club Name:</strong></td>
                  <td>
                    <div class="input-container">
                      <input type="text" name="clubname" value="{{clubregistration.clubname}}" {{#if (or
                        user.ptaverified clubregistration.clubname)}}readonly{{else}}required{{/if}}>
                      {{#if user.ptaverified}}<button type="button" class="clear-input"
                        onclick="clearInput(this)">x</button>{{/if}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><strong>First Name:</strong></td>
                  <td>
                    <div class="input-container">
                      <input type="text" name="firstname" value="{{clubregistration.firstname}}" {{#if (or
                        user.ptaverified clubregistration.firstname)}}readonly{{else}}required{{/if}}>
                      {{#if user.ptaverified}}<button type="button" class="clear-input"
                        onclick="clearInput(this)">x</button>{{/if}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><strong>Last Name:</strong></td>
                  <td>
                    <div class="input-container">
                      <input type="text" name="lastname" value="{{clubregistration.lastname}}" {{#if (or
                        user.ptaverified clubregistration.lastname)}}readonly{{else}}required{{/if}}>
                      {{#if user.ptaverified}}<button type="button" class="clear-input"
                        onclick="clearInput(this)">x</button>{{/if}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><strong>Valid ID:</strong></td>
                  <td class="information">
                    <div class="input-container">
                      {{#if clubregistration.idfile}}
                        <a href="{{clubregistration.idfile}}" target="_blank">View Document</a>
                        <input type="text" name="idfile" value="{{clubregistration.idfile}}" hidden>
                        {{#if user.ptaverified}}<button type="button" class="clear-input"
                          onclick="clearInput(this)">x</button>{{/if}}
                      {{else}}
                        No File
                        {{#unless user.ptaverified}}<input type="file" name="idfile" required> {{/unless}}
                      {{/if}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><strong>Proof of Club Operations:</strong></td>
                  <td class="information">
                    <div class="input-container">
                      {{#if clubregistration.proofdoc}}
                        <a href="{{clubregistration.proofdoc}}" target="_blank">View Document</a>
                        <input type="text" name="proofdoc" value="{{clubregistration.proofdoc}}" hidden>
                        {{#if user.ptaverified}}<button type="button" class="clear-input"
                          onclick="clearInput(this)">x</button>{{/if}}
                      {{else}}
                        No File
                        {{#unless user.ptaverified}}<input type="file" name="proofdoc" required> {{/unless}}
                      {{/if}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><strong>Proof of Payment:</strong></td>
                  <td class="information">
                    <div class="input-container">
                      {{#if clubregistration.paymentproof}}
                        <a href="{{clubregistration.paymentproof}}" target="_blank">View Document</a>
                        <input type="text" name="paymentproof" value="{{clubregistration.paymentproof}}" hidden>
                        {{#if user.ptaverified}}<button type="button" class="clear-input"
                          onclick="clearInput(this)">x</button>{{/if}}
                      {{else}}
                        No File
                        {{#unless user.ptaverified}}<input type="file" name="paymentproof" required> {{/unless}}
                      {{/if}}
                    </div>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
        </table>
        {{#if user.ptaverified}}
          <button type="button" class="confirmrejectionsbtn" id="confirmrejectionsbtn" onclick="showConfirmRejectScreen2()">Confirm rejections</button>
        {{else}}
          <button type="submit" class="submit-changes-btn">Submit Changes</button>
        {{/if}}
      </div>

      <div class="confirmrejectscreen2" id="confirmrejectscreen2" style="display: none;">
        <h3>Please state reason for rejection.</h3>
        <select name="rejectmsg" id="rejectmsg">
          <option value="Incomplete Documentation">Incomplete Documentation</option>
          <option value="Invalid Information">Invalid Information</option>
          <option value="Failed Background Check">Failed Background Check</option>
          <option value="Other">Other</option>
        </select>
        <textarea name="rejectdescription" id="rejectdescription" cols="30" rows="10"></textarea>
        <button type="button" class="cancelreject" id="cancelreject2">Cancel</button>
        <button type="submit" value="4" name="status" id="confirm">Confirm</button>
      </div>
    </form>

    <form action="/update-clubstatus" method="post">
      <input type="hidden" name="applicationId" value="{{clubregistration.id}}">
      <div class="application-actions">
        <h1 class="status">
          {{#if (eq clubregistration.status 1)}}
          <span class="status-under-review">Processing Application</span>
          {{else if (eq clubregistration.status 2)}}
          <span class="status-en-route">En-route to Regional Office</span>
          {{else if (eq clubregistration.status 3)}}
          <span class="status-shipped">Accepted and Registered. Certificate shipped to regional office.</span>
          {{else if (eq clubregistration.status 4)}}
          <span class="status-rejected">Rejected</span>
          Reason:<p>{{clubregistration.rejectmsg}}</p>
          Description:<p class="description">{{clubregistration.rejectdescription}}</p>
          {{else if (eq clubregistration.status 5)}}
          <span class="status-unknown">Expired</span>
          {{/if}}
        </h1>
        {{#if user.ptaverified}}
          <div class="status-buttons" id="status-buttons"> {{!-- VALUES NAMES AND TYPES NEED TO STAY THE SAME --}}
            <button type="submit" name="status" value="1">Processing Application</button>
            {{#unless (eq clubregistration.status 3)}}
              <button type="button" id="accepted" class="accepted">Accepted and Registered</button>
            {{/unless}}
            <button type="button" id="rejectbtn" class="rejectbtn">Reject Application</button>
          </div>
          <div class="confirmscreen" id="confirmscreen" style="display: none;">
            <h3>Are you sure? This will be added to the clubs page for the public to see.</h3>
            <button class="cancel" id="cancel">Cancel</button>
            <button type="submit" value="3" name="status">Confirm</button>
          </div>
          <div class="confirmrejectscreen" id="confirmrejectscreen" style="display: none;">
            <h3>Please state reason for rejection.</h3>
            <select name="rejectmsg" id="rejectmsg">
              <option value="Incomplete Documentation">Incomplete Documentation</option>
              <option value="Invalid Information">Invalid Information</option>
              <option value="Failed Background Check">Failed Background Check</option>
              <option value="Other">Other</option>
            </select>
            <textarea name="rejectdescription" id="rejectdescription" cols="30" rows="10"></textarea>
            <button type="button" class="cancelreject" id="cancelreject">Cancel</button>
            <button type="submit" value="4" name="status" id="confirm">Confirm</button>
          </div>
        {{/if}}
        <div class="backtolist">
          <a href="/membership-status">Back to list</a>
        </div>
      </div>
    </form>
    <div class="printwindow" id="printableArea">
      <p><strong>ID:</strong> {{clubregistration.id}}</p>
      <p><strong>First Name:</strong> {{clubregistration.firstname}}</p>
      <p><strong>Last Name:</strong> {{clubregistration.lastname}}</p>
    </div>

    <script>
      const confirmscreen = document.getElementById("confirmscreen");
      const statuses = document.getElementById("status-buttons");
      const cancel = document.getElementById("cancel");
      const accepted = document.getElementById("accepted");
      const statusForm = document.getElementById("statusForm");
      const confirmButton = document.getElementById("confirm");
      const rejectbtn = document.getElementById("rejectbtn");
      const cancelreject = document.getElementById("cancelreject");
      const actionButtons = document.getElementById("status-buttons");

      cancelreject.addEventListener("click", function (event) {
        event.preventDefault();
        confirmrejectscreen.style.display = "none";
        actionButtons.style.display = "block";
      });

      rejectbtn.addEventListener("click", function (event) {
        event.preventDefault();
        confirmrejectscreen.style.display = "block";
        statuses.style.display = "none";
      });

      cancel.addEventListener("click", function (event) {
        event.preventDefault();
        confirmscreen.style.display = "none";
        statuses.style.display = "block";
      });

      accepted.addEventListener("click", function (event) {
        event.preventDefault();
        confirmscreen.style.display = "block";
        statuses.style.display = "none";
        // Set the status value in the confirm button data attribute
        confirmButton.value = accepted.getAttribute("data-status");
      });



      confirmButton.addEventListener("click", function () {
        const status = confirmButton.value;
        const applicationId = document.querySelector('input[name="applicationId"]').value;
      });

      const confirmrejectscreen2 = document.getElementById("confirmrejectscreen2");
      const confirmrejectionsbtn = document.getElementById("confirmrejectionsbtn");

      const cancelreject2 = document.getElementById("cancelreject2");

      cancelreject2.addEventListener("click", function (event) {
        event.preventDefault();
        confirmrejectscreen2.style.display = "none";
        actionButtons.style.display = "block";
      });

     /* confirmrejectionsbtn.addEventListener("click", function (event) {
        event.preventDefault();
        confirmrejectscreen2.style.display = "block";
        actionButtons.style.display = "none";
      }); */

      function showConfirmRejectScreen2() {
        confirmrejectscreen2.style.display = "block";
        actionButtons.style.display = "none";
      }

      function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
      }

      function clearInput(button) {
        const input = button.previousElementSibling;
        if (input.value === '') {
          input.value = input.getAttribute('data-original-value');
          button.textContent = 'x';
        } else {
          input.setAttribute('data-original-value', input.value);
          input.value = '';
          button.textContent = 'undo';
        }
      }
    </script>
  </div>
  </div>
</body>

</html>