<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Events</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/events.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="container">
  <div class="header">
    {{> navbar}}
  </div>

  <div class="events-container1">
    <div class="events-title1">
      <h1>Upcoming and Concluded Events</h1>
      <p>Join the Action, Compete with Passion, and Showcase Your Skills!</p>
    </div>
  </div>

  <div class="events-container">
    <div class="search-create-container">
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Search event...">
        <button onclick="searchEvents()">Search</button>
      </div>
      {{#if user.ptaverified}}
      <a onclick="openModal()" class="create-event-button">+ Create Event</a>
      {{/if}}
    </div>

    <!-- Upcoming Events Section -->
    <div class="main-panel">
      <div class="news">
        <h2 class="left-align-title">Upcoming Events</h2>
        <div id="events" class="horizontal-container">
          {{#each events}}
            {{#unless (or (eq status "Concluded") (eq status "Cancelled"))}}  <!-- Exclude Concluded and Cancelled events -->
          <div class="event event-card">
            <img src="{{eventpicture}}" alt="Event {{id}}">
            <h3 class="event-title">{{name}} <br> {{formatDate date "MMMM D, YYYY"}} {{time}}</h3>
            <p>{{eventtype}}</p>
            {{#if (eq status "Cancelled")}}
            <a href="/events-details/{{id}}" style="color: gray;">Cancelled</a>
            {{else}}
            <a href="/events-details/{{id}}">Read More</a>
            {{/if}}
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Concluded Events Section -->
    <div class="main-panel">
      <div class="news">
        <h2 class="left-align-title">Concluded Events</h2>
        <div id="past-events" class="horizontal-container">
          {{#each events}}
          {{#if (eq status "Concluded")}} <!-- Only include Concluded events -->
          <div class="event event-card">
            <img src="{{eventpicture}}" alt="Event {{id}}">
            <h3 class="event-title">{{name}} <br> {{formatDate date "MMMM D, YYYY"}} {{time}}</h3>
            <p>{{eventtype}}</p>
            <a href="/events-details/{{id}}" style="color: green;">Concluded</a>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Cancelled Events Section -->
    <div class="main-panel">
      <div class="news">
        <h2 class="left-align-title">Cancelled Events</h2>
        <div id="cancelled-events" class="horizontal-container">
          {{#each events}}
          {{#if (eq status "Cancelled")}} <!-- Only include Cancelled events -->
          <div class="event event-card">
            <img src="{{eventpicture}}" alt="Event {{id}}">
            <h3 class="event-title">{{name}} <br> {{formatDate date "MMMM D, YYYY"}} {{time}}</h3>
            <p>{{eventtype}}</p>
            <a href="/events-details/{{id}}" style="color: gray;">Cancelled</a>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>


  <div id="createmodal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <ul>
        <li>
          <div>
            <a href="/events-create/Kyorugi">
              <h2 class="type">Kyorugi Competition</h2><br>
              <p>create a sparring competition</p>
              <p>&rarr;</p>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/events-create/Poomsae">
              <h2 class="type">Poomsae Competition</h2><br>
              <p>create a forms competition</p>
              <p>&rarr;</p>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/events-create/Promotion">
              <h2 class="type">Promotion Test</h2><br>
              <p>create an event for belt color promotion</p>
              <p>&rarr;</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  {{> footer}}

  <!-- Scripts -->
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/footer.js"></script>
  <script>
    function openModal() {
      document.getElementById('createmodal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('createmodal').style.display = 'none';
    }

    window.onclick = function (event) {
      const modal = document.getElementById('createmodal');
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    }

    function toggleFilter() {
      document.getElementById('filterDropdown').classList.toggle('show');
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function searchEvents() {
      const searchTerm = document.getElementById('search-input').value.toLowerCase();
      const eventCards = document.querySelectorAll('.event-card');

      eventCards.forEach(card => {
        const eventTitle = card.querySelector('.event-title').innerText.toLowerCase();
        const eventDescription = card.querySelector('p').innerText.toLowerCase();
        if (eventTitle.includes(searchTerm) || eventDescription.includes(searchTerm)) {
          card.style.display = 'block';
        } else {
          card.style.display = 'none';
        }
      });
    }
  </script>
</body>

</html>