<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Profile</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/faqs.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body class="container">
  <div class="header">
    {{> navbar}}
  </div>

  <div class="profile-container">
    <div class="side-nav">
      <ul>
        <li><a href="profile?tab=viewProfile" id="viewProfileLink">View Profile</a></li>
        <li><a href="profile?tab=editProfile" id="editProfileLink">Edit Profile</a></li>
        <li><a href="profile?tab=notificationSettings" id="notificationSettingsLink">Notification Settings</a></li>
        <li><a href="profile?tab=securitySettings" id="securitySettingsLink">Security Settings</a></li>
        <li><a href="profile?tab=helpCenter" id="helpcenter">Help Center</a></li>
      </ul>
    </div>
    <div class="profile-content">
      <div id="editProfile" class="profile-section" >
        <h2>Edit Profile</h2>
        <form id="editprofile" action="/save-profile-changes" method="post" enctype="multipart/form-data">
          <div class="profile-pic-section">
            {{#if user.profilepic}}
            <img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture">
            {{else}}
            <img src="/images/none.jpg" alt="Profile Picture" class="profile-picture">
            {{/if}}
            
            <div>
              {{#if user.ptaverified}}
                <span class="tag">ADMIN</span>
              {{else}}
                {{#if user.instructorverified}}
                  <span class="tag">INSTRUCTOR</span>
                {{/if}}
                {{#if user.athleteverified}}
                  <span class="tag">ATHLETE</span>
                {{/if}}
              {{/if}}
            </div>
            <input type="file" id="file-input" name="file" class="edit-profile-pic">
          </div>
          <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" value="{{user.firstname}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="middlename">M.I.:</label>
            <input type="text" id="middlename" name="middlename" value="{{user.middlename}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" value="{{user.lastname}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{user.username}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" class="editable-field">
          </div>
          <div class="form-group">
            <label for="phonenum">Phone Number:</label>
            <input type="text" id="phonenum" name="phonenum" value="{{user.phonenum}}" class="editable-field">
          </div>
          <div class="form-group">
            <label for="region">Province:</label>
            <input type="text" id="region" name="region" value="{{user.region}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="club">Club:</label>
            <input type="text" id="club" name="club" value="{{user.club}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          {{#if (or user.instructorverified user.athleteverified)}}
          <div class="form-group">
            <label for="id">ID Number:</label>
            <input type="text" id="id" name="id" value="{{user.id}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="bday">Birth Date:</label>
            <input type="text" id="bday" name="bday" value="{{user.bday}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          <div class="form-group">
            <label for="beltlevel">Belt Level:</label>
            <input type="text" id="beltlevel" name="beltlevel" value="{{user.beltlevel}}" readonly class="readonly-field">
            <span class="lock-icon"><i class="fas fa-lock"></i></span>
          </div>
          {{/if}}
          <div class="form-group">
            <input type="hidden" id="athleteverified" name="athleteverified" value="{{user.athleteverified}}" readonly>
            <input type="hidden" id="instructorverified" name="instructorverified" value="{{user.instructorverified}}" readonly>
            <input type="hidden" id="ptaverified" name="ptaverified" value="{{user.ptaverified}}" readonly>
          </div>
          <div class="form-actions">
            <button class="cancel-button" onclick="window.location.href='profile'">Cancel</button>
            <button class="save-button" type="submit">Save Changes</button>
          </div>
        </form>
      </div>

      <div id="viewProfile" class="profile-section" style="display:none;">
        <h2>View Profile</h2>
        <div class="profile-pic-section">
            {{#if user.profilepic}}
            <img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture">
            {{else}}
            <img src="/images/none.jpg" alt="Profile Picture" class="profile-picture">
            {{/if}}
            <div>
              {{#if user.ptaverified}}
                <span class="tag">ADMIN</span>
              {{else}}
                {{#if user.instructorverified}}
                  <span class="tag">INSTRUCTOR</span>
                {{/if}}
                {{#if user.athleteverified}}
                  <span class="tag">ATHLETE</span>
                {{/if}}
              {{/if}}
            </div><br>
            
            {{#if (or user.instructorverified user.athleteverified)}}
              <button class="print-id-button" onclick="printIdCard('printableArea')">View ID Card</button>
            {{/if}}
          </div>
        <form>
          <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" value="{{user.firstname}}" readonly>
          </div>
          <div class="form-group">
            <label for="middlename">M.I.:</label>
            <input type="text" id="middlename" name="middlename" value="{{user.middlename}}" readonly>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" value="{{user.lastname}}" readonly>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{user.username}}" readonly>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" readonly>
          </div>
          <div class="form-group">
            <label for="phonenum">Phone Number:</label>
            <input type="text" id="phonenum" name="phonenum" value="{{user.phonenum}}" readonly>
          </div>
          <div class="form-group">
            <label for="region">Region:</label>
            <input type="text" id="region" name="region" value="{{user.region}}" readonly>
          </div>
          <div class="form-group">
            <label for="club">Club:</label>
            <input type="text" id="club" name="club" value="{{user.club}}" readonly>
          </div>
          {{#if (or user.instructorverified user.athleteverified)}}
          <div class="form-group">
            <label for="id">ID Number:</label>
            <input type="text" id="id" name="id" value="{{user.id}}" readonly>
          </div>
          <div class="form-group">
            <label for="bday">Birth Date:</label>
            <input type="text" id="bday" name="bday" value="{{user.bday}}" readonly>
          </div>
          <div class="form-group">
            <label for="beltlevel">Belt Level:</label>
            <input type="text" id="beltlevel" name="beltlevel" value="{{user.beltlevel}}" readonly>
          </div>
          {{/if}}
          <div class="form-group" >
            <input type="hidden" id="athleteverified" name="athleteverified" value="{{user.athleteverified}}" readonly>
            <input type="hidden" id="instructorverified" name="instructorverified" value="{{user.instructorverified}}" readonly>
            <input type="hidden" id="ptaverified" name="ptaverified" value="{{user.ptaverified}}" readonly>
          </div>
        </form>
      </div>

      <div id="notificationSettings" class="profile-section" style="display:none;">
        <h2>Notification Settings</h2>
        <form id="notificationSettingsForm" onsubmit="return saveNotificationSettings()">
          <div class="notification-category">
            <h3>Notifications from us</h3>
            <label>
              <input type="checkbox" name="notifications" value="newsUpdates">
              News and updates
            </label>
            <label>
              <input type="checkbox" name="notifications" value="tipsTutorials">
              Tips and tutorials
            </label>
            <label>
              <input type="checkbox" name="notifications" value="userResearch">
              User research
            </label>
          </div>
          <div class="notification-category">
            <h3>Comments</h3>
            <label>
              <input type="radio" name="comments" value="none">
              Do not notify me
            </label>
            <label>
              <input type="radio" name="comments" value="mentionsOnly">
              Mentions only
            </label>
            <label>
              <input type="radio" name="comments" value="all">
              All comments
            </label>
          </div>
          <div class="notification-category">
            <h3>Reminders</h3>
            <label>
              <input type="radio" name="reminders" value="none">
              Do not notify me
            </label>
            <label>
              <input type="radio" name="reminders" value="importantOnly">
              Important reminders only
            </label>
            <label>
              <input type="radio" name="reminders" value="all">
              All reminders
            </label>
          </div>
          <div class="notification-category">
            <h3>More activity about you</h3>
            <label>
              <input type="radio" name="moreActivity" value="none">
              Do not notify me
            </label>
            <label>
              <input type="radio" name="moreActivity" value="all">
              Notify me for all other activity
            </label>
          </div>
          <div class="form-actions">
            <button class="save-button" type="submit">Save</button>
            <button class="cancel-button" type="button" onclick="window.location.href='profile'">Cancel</button>
          </div>
        </form>
      </div>

      <div id="securitySettings" class="profile-section" style="display:none;">
        <h2>Security Settings</h2>
        <div class="change-password-section">
          <h3>Change Password</h3>
          <form id="changePasswordForm" onsubmit="return submitPasswordChange()">
            <div class="form-group">
              <label for="currentPassword">Current Password:</label>
              <input type="password" id="currentPassword" required>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input type="password" id="newPassword" oninput="validatePassword()" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm New Password:</label>
              <input type="password" id="confirmPassword" oninput="validatePassword()" required>
            </div>
            <div id="passwordError" class="error-message" style="display:none; color: red;">Passwords do not match</div>
            <div class="form-actions">
              <button class="save-button" type="submit">Save</button>
              <button class="cancel-button" type="button" onclick="window.location.href='profile'">Cancel</button>
            </div>
          </form>
          <div class="password-requirements">
            <h4>Passwords must contain:</h4>
            <ul>
              <li id="char-length">✔ At least 6 characters</li>
              <li id="uppercase-letter">✔ At least 1 uppercase letter (A-Z)</li>
              <li id="lowercase-letter">✔ At least 1 lowercase letter (a-z)</li>
              <li id="number">✔ At least 1 number (0-9)</li>
              <li id="symbol">✔ At least 1 symbol (!@#$%^&* etc.)</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="helpCenter" class="profile-section" style="display:none;">
        <h1>Questions?</h1>
        <p>If you have questions, we have answers for you here. In case we don't, you can check our Forum page or please feel free to reach out to us here pthtkd@gmail.com or 0977 384 5879.</p>

        <h2>General questions</h2>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>How can I apply for NCC ID?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>Go to the "Membership" page on the PTA website and click "Apply for NCC ID." Fill out the required
                    information and upload the necessary documents before submitting your application.</p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>How do I check the status of my application?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>You can view your application status by visiting the "Registration Status" section on the Membership
                    page.</p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>How do I renew my membership?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>Membership renewal can be done by submitting a new application through the Membership page. The PTA
                    admin team will review your application to confirm eligibility for renewal.</p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>How do I contact the PTA for inquiries?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>You can reach the Philippine Taekwondo Association through the following channels:<br>
                    Official website: https://philippinetaekwondo.org<br>
                    Email: philtkd@gmail.com<br>
                    Phone: 0977 384 5870<br>
                    Office address: Philippine Taekwondo Central Headquarters<br>
                    Rizal Memorial Coliseum, Manila, Philippines</p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>How do I join a club?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>Visit the "Clubs" page on the PTA website to view a list of affiliated clubs. Each club provides detailed information about its location, instructor, training schedule, and other features. Choose the club that best fits your preferences and contact them directly for membership inquiries.</p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)">
            <span>Can I transfer from one club to another?</span>
            <span class="faq-toggle">+</span>
          </div>
          <div class="faq-answer">
            <p>Yes, but it requires coordination between your current club and the new club. Inform your current instructor and complete any necessary transfer forms.</p>
          </div> 
        </div>
      </div>
    </div>
  </div>

  {{> footer}}

  <!-- Scripts -->
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/footer.js"></script>
  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function setActiveTab() {
      const params = new URLSearchParams(window.location.search);
      const tab = params.get('tab') || 'viewProfile';
      document.querySelectorAll('.profile-section').forEach(section => {
        section.style.display = 'none';
      });
      document.getElementById(tab).style.display = 'block';
      document.querySelectorAll('.side-nav ul li a').forEach(link => {
        link.classList.remove('active');
      });
      document.getElementById(tab + 'Link').classList.add('active');
    }

    window.onload = setActiveTab;

    function validatePassword() {
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;
      let isValid = true;
      // Validation criteria
      const criteria = {
        charLength: newPassword.length >= 6,
        uppercaseLetter: /[A-Z]/.test(newPassword),
        lowercaseLetter: /[a-z]/.test(newPassword),
        number: /[0-9]/.test(newPassword),
        symbol: /[!@#$%^&*(),.?":{}|<>]/.test(newPassword)
      };
      // Update UI for criteria
      for (const criterion in criteria) {
        const element = document.getElementById(criterion.replace(/[A-Z]/g, letter => '-' + letter.toLowerCase()));
        if (criteria[criterion]) {
          element.classList.add('valid');
          element.classList.remove('invalid');
        } else {
          element.classList.add('invalid');
          element.classList.remove('valid');
          isValid = false;
        }
      }
      // Confirm password match
      if (newPassword !== confirmPassword) {
        isValid = false;
        document.getElementById('passwordError').style.display = 'block';
      } else {
        document.getElementById('passwordError').style.display = 'none';
      }
      return isValid;
    }

    function submitPasswordChange() {
      if (validatePassword()) {
        const currentPassword = document.getElementById('currentPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        
        fetch('/change-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ currentPassword, newPassword })
        }).then(response => {
          if (response.ok) {
            // Notify admins of password change
            notifyAdmins('password', '[HIDDEN]', '[HIDDEN]');
            alert('Password changed successfully');
            window.location.href = 'profile';
          } else {
            alert('Failed to change password');
          }
        }).catch(error => {
          console.error('Error:', error);
          alert('Failed to change password');
        });
        return false;
      }
      return false;
    }

    function saveNotificationSettings() {
      // Implement saving logic here
      const formData = new FormData(document.getElementById('notificationSettingsForm'));
      const settings = {};
      formData.forEach((value, key) => {
        if (!settings[key]) {
          settings[key] = [];
        }
        settings[key].push(value);
      });
      fetch('/save-notification-settings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(settings)
      }).then(response => {
        if (response.ok) {
          alert('Notification settings saved successfully');
        } else {
          alert('Failed to save notification settings');
        }
      }).catch(error => {
        console.error('Error:', error);
        alert('Failed to save notification settings');
      });
      return false; // Prevent form submission
    }

		function toggleFaq(element) {
        const answer = element.nextElementSibling;
        const toggle = element.querySelector('.faq-toggle');
        
        if (answer.style.display === "block") {
            answer.style.display = "none";
            toggle.textContent = "+";
        } else {
            answer.style.display = "block";
            toggle.textContent = "x";
        }
    }

    function printIdCard(divName) {
      // Prevent any form submission
      event.preventDefault();
      
      const printContents = document.getElementById(divName);
      const originalDisplay = printContents.style.display;
      
      // Add print-specific styles
      const style = document.createElement('style');
      style.innerHTML = `
        @media print {
          body * {
            visibility: hidden;
          }
          #${divName}, #${divName} * {
            visibility: visible;
          }
          #${divName} {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      `;
      document.head.appendChild(style);
      
      // Show the printable area
      printContents.style.display = 'block';
      
      // Print with afterprint handler
      window.onafterprint = () => {
        // Cleanup after printing
        printContents.style.display = originalDisplay;
        document.head.removeChild(style);
        window.onafterprint = null;
      };
      
      window.print();
    }

    function validatePhilippinePhone(phone) {
      // Philippine mobile number formats: +639XXXXXXXXX, 09XXXXXXXXX, or 9XXXXXXXXX
      const phoneRegex = /^(\+63|0)?[9]\d{9}$/;
      return phoneRegex.test(phone);
    }

    function validateEmail(email) {
      // Basic email validation
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    function notifyAdmins(changeType, oldValue, newValue) {
      fetch('/notify-admins', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          changeType: changeType,
          oldValue: oldValue,
          newValue: newValue,
          userId: '{{user.id}}',
          username: '{{user.username}}'
        })
      });
    }

    document.getElementById('editprofile').addEventListener('submit', async function(event) {
      event.preventDefault();
      
      const phoneInput = document.getElementById('phonenum');
      const emailInput = document.getElementById('email');
      const oldPhone = '{{user.phonenum}}';
      const oldEmail = '{{user.email}}';
      
      // Validate phone number
      if (!validatePhilippinePhone(phoneInput.value)) {
        alert('Please enter a valid Philippine mobile number (e.g., 09XXXXXXXXX)');
        phoneInput.focus();
        return false;
      }
      
      // Validate email
      if (!validateEmail(emailInput.value)) {
        alert('Please enter a valid email address');
        emailInput.focus();
        return false;
      }
      
      try {
        // Check if values have changed and notify admins
        if (phoneInput.value !== oldPhone) {
          await fetch('/notify-admins', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              changeType: 'phone',
              oldValue: oldPhone,
              newValue: phoneInput.value,
              userId: '{{user.id}}',
              username: '{{user.username}}'
            })
          });
        }
        
        if (emailInput.value !== oldEmail) {
          await fetch('/notify-admins', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              changeType: 'email',
              oldValue: oldEmail,
              newValue: emailInput.value,
              userId: '{{user.id}}',
              username: '{{user.username}}'
            })
          });
        }
        
        // Submit the form
        const formData = new FormData(this);
        const response = await fetch('/save-profile-changes', {
          method: 'POST',
          body: formData
        });
        
        if (response.ok) {
          alert('Profile updated successfully!');
          // Refresh the page to show updated information
          window.location.reload();
        } else {
          alert('Failed to update profile. Please try again.');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while updating the profile.');
      }
    });
  </script>
  
  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
  <script src="https://mediafiles.botpress.cloud/28a4809e-d421-4549-b02c-8dd82392211b/webchat/config.js" defer></script>

  <!-- Add the printable ID card area -->
  <div id="printableArea" style="display: none;">
    <div class="id-card">
      <div class="id-front">
        <div class="card-header">NATIONAL COMPETITORS CARD</div>
        <div class="pta-header">
          <div class="pta-text">PTA 2024</div>
        </div>
        <div class="photo-area">
          {{#if user.profilepic}}
          <img src="{{user.profilepic}}" alt="Athlete Photo" class="athlete-photo">
          {{else}}
          <img src="/images/none.jpg" alt="Athlete Photo" class="athlete-photo">
          {{/if}}
        </div>
        <div class="card-details">
          <div class="athlete-name">{{user.firstname}} {{user.middlename}} {{user.lastname}}</div>
          <div class="athlete-id">ID: {{user.id}}</div>
          <div class="membership-type">
            {{#if user.ptaverified}}
              MEMBERSHIP TYPE: ADMIN
            {{else}}
              {{#if user.instructorverified}}
                MEMBERSHIP TYPE: INSTRUCTOR
              {{else}}
                {{#if user.athleteverified}}
                  MEMBERSHIP TYPE: ATHLETE
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
          <div class="division">DIVISION: {{user.division}}</div>
          <div class="chapter">CHAPTER: {{user.region}}</div>
          <div class="birthdate">BIRTHDATE: {{formatDate user.bday "MMMM D, YYYY"}}</div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    /* Styles for form fields */
    .form-group {
      position: relative;
      margin-bottom: 15px;
    }
    
    .readonly-field {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      color: #666;
      cursor: not-allowed;
      padding-right: 40px;
    }
    
    .editable-field {
      background-color: #fff;
      border: 1px solid #007bff;
      box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
      padding: 8px 12px;
      transition: border-color 0.3s, box-shadow 0.3s;
    }
    
    .editable-field:focus {
      border-color: #0056b3;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
    
    .lock-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      pointer-events: none;
    }
    
    /* Styles for the ID card */
    .print-id-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      font-weight: bold;
      transition: background-color 0.3s;
      min-width: 120px;
    }
    
    .print-id-button:hover {
      background-color: #0056b3;
    }
    
    /* Update ID card styles */
    .membership-type {
      font-size: 14px;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: #ffeb3b; /* Make membership type stand out with yellow color */
      font-weight: bold;
    }

    /* ID card styles */
    .id-card {
      width: 2.5in;
      height: 4in;
      background: linear-gradient(150deg, #003366 70%, #cc0000 70%);
      border-radius: 10px;
      position: relative;
      color: white;
      font-family: Arial, sans-serif;
      overflow: hidden;
      padding: 0;
      margin: 0 auto;
    }
    
    .id-front {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
    
    .card-header {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      position: absolute;
      top: 10px;
      width: 100%;
      left: 0;
      text-transform: uppercase;
      color: white;
    }
    
    .pta-header {
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 2;
      text-align: center;
      width: 100%;
    }
    
    .pta-text {
      font-size: 20px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      letter-spacing: 1px;
    }
    
    .photo-area {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 1.5in;
      height: 1.5in;
      background: white;
      border: 2px solid white;
      overflow: hidden;
    }
    
    .athlete-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    
    .card-details {
      position: absolute;
      bottom: 15px;
      left: 15px;
      width: calc(100% - 30px);
      z-index: 2;
    }
    
    .athlete-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    
    .athlete-id,
    .division,
    .chapter,
    .birthdate {
      font-size: 12px;
      margin-bottom: 3px;
      text-transform: uppercase;
    }

    .membership-type {
      font-size: 12px;
      margin: 5px 0;
      text-transform: uppercase;
      color: #ffeb3b;
      font-weight: bold;
    }
    
    .athlete-id {
      margin-bottom: 8px;
    }
    
    @media print {
      @page {
        size: 2.5in 4in;
        margin: 0;
      }
    
      body * {
        visibility: hidden;
      }
    
      #printableArea,
      #printableArea * {
        visibility: visible;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        color-adjust: exact !important;
      }
    
      #printableArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 2.5in;
        height: 4in;
      }
    
      .id-card {
        background: linear-gradient(150deg, #003366 70%, #cc0000 70%) !important;
        margin: 0;
        padding: 0;
      }
    
      .photo-area {
        margin: 0;
        border: none;
      }
    }
  </style>
</body>
</html>